*.obj
*.orig
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.tmp_proj
[Bb]in*/
[Db]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
StyleCop.xml
Unit Tests.VisualState.xml
StyleCop.Cache
*.sln.docstates
**packages/*
^packages/.*/src/
*.sln.DotSettings
Installers/*Files.wxs
*.ncrunchsolution
*.csproj.DotSettings
*.tmp
*.psess
*.vspx
/packages
